
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


.about-me {
    background-color: #fff;
    padding: 40px;
    max-width: 900px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h3 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.about-me p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}


.personal-info {
    margin-bottom: 30px;
}

.personal-info h4 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.personal-info ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.personal-info ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}


.skills {
    list-style-type: none; 
    margin: 20px 0;
    padding: 0; 
    text-align: center;
}

.skills li {
    font-size: 1.2em;
    color: #444;
    background-color: #f8f8f8;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: inline-block;
    width: 45%;
    margin: 10px;
}


.github-section {
    margin-top: 30px;
    text-align: center;
}

.github-btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.github-btn:hover {
    background-color: #555;
    transform: translateY(-3px);
}


footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    width: 100%;
    bottom: 0;
}
